.teveo{
    border: red 1px solid;
}

body{
    background: linear-gradient(#6668d0, #efefef);
    background-repeat: no-repeat;
}

.barraTitulo{
    background: #303f9f;
}

.barraTitulo a{
    font: white;
}


.tarjetaUsuario{
    background: #00186f;
    text-align: center;
    color: white;
    list-style-type: none;
}

.listaUsuario ul li {
    list-style-type: none;
}

.fondo{
    height: 900px;
}

.userLabel{
    width:100%;
}

.alineado{
    display: flex;
    align-items: center;
    justify-content: center;
}

.userData{
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    padding-left: 10px;
    padding-right: 10px;
    width: 250px;
    background: white;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.tarjetaRazon{
    background: #666ad1;
}

.fotoPerfil{
    width: 200px;
    height: 200px;
    border-radius: 100%;
}

.botonRazon{
    background: #303f9f !important;
    width: 60%;
}

.botonFacturar{
    width: 80%;
    background: #303f9f !important;
}

.boxBoton{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.tarjetaTitulo{
    color: white;
}

.tarjetaSub{
    color: #000000;
}

.circleActive{
 color: green;
}

.circleInactive{
 color: grey;
}

.tabla{
    width: 80%;
    height: 500px;
}

.listHeader{
    background: #303f9f !important ;
    border: 1px solid #303f9f !important;

}

.listBody{
    border:  !important;
}

.headerFalso{
    height: 50px;
}

.formulario{
	margin-top: 55px; 
	margin-bottom: 20px;
	padding-top:30px;
}

.inicio{
	margin-top: 
	margin-bottom: 20px;
}

.fondo{
	background:linear-gradient(#6668d0, #efefef);
	height: 900px;
	background-repeat: no-repeat;
}

.boton{
	margin-bottom: 20px;
	background: #303f9f;
	border-color: #303f9f;
}

.letra{
	color: white;
}

.iconoArchivo{
	margin-left: 100px;
	justify-content: center;
	color: #bdbdbd;

}

.iconoCamara{
	margin-left: 100px;
	justify-content: center;
	color: #bdbdbd;
}

.tarjeta {
	margin-top: 55px;
	display: flex;
	justify-content: space-around;
	padding-top: 50px;
}

.fondoTarjeta{
	background:linear-gradient(#303f9f, #8d8d8d);


}

.textoTarjeta{
	margin-left: 85px;	
	margin-top: 20px;
	color: white;	
}

.botonTarjeta{
	margin-left: 110px;
	background: #303f9f;
	border-color: #303f9f;
}

.tituloTarjeta{
	margin-left: 20px;
	margin-top: 20px;
	color: white;	
}

.navegacion{
	background: #303f9f;
}

.contenedor{
	background: linear-gradient(#666ad1,#efefef);
	height: 900px
}


.razonesTarjetas{
    margin-top: 10px;
}

